{% extends "base.html" %}
{% block title %}
    <title>设置新密码</title>
{% endblock %}


{% block content %}
    <div class="jumbotron">
        <h1>甲基化早筛项目数据库管理系统Demo</h1>
        <h4>设置新密码</h4>
        <form class="form" method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% for field in form %}
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}

            {% endfor %}
            <button type="submit" class="btn btn-primary btn-block">提交</button>
        </form>
    </div>
{% endblock %}


{% block extra_js %}
{% endblock %}