<!DOCTYPE html>
<html>
<head>
    <title>Bootstrap4 实例</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2">
            <nav class="navbar">
                <div class="navbar-header" style="width: 100%"><a class="navbar-brand">BGI</a></div>
                <div>
                    <ul class="nav navbar-nav">
                        <li class="nav-item">
                            <a class="navbar-toggler" data-toggle="collapse" href="#collapsibleNavbar1">样本管理</a>
                            <div class="collapse navbar-collapse" id="collapsibleNavbar1">
                                <ul class="navbar-nav">
                                    <li class="nav-item"><a class="nav-link" href="#">样本信息</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#">样本DNA库存</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#">样本DNA提取信息</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#">样本DNA使用记录</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="navbar-toggler" data-toggle="collapse" href="#collapsibleNavbar2">文库管理</a>
                            <div class="collapse navbar-collapse" id="collapsibleNavbar2">
                                <ul class="navbar-nav">
                                    <li class="nav-item"><a class="nav-link" href="#">样本建库信息</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#">捕获文库信息</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#">Pooling映射表</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="navbar-toggler" data-toggle="collapse" href="#collapsibleNavbar3">测序管理</a>
                            <div class="collapse navbar-collapse" id="collapsibleNavbar3">
                                <ul class="navbar-nav">
                                    <li class="nav-item"><a class="nav-link" href="#">测序信息</a></li>
                                    <li class="nav-item"><a class="nav-link" href="#">样本测序质控信息</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>


            </nav>
        </div>
        <div class="col-lg-10">
            <div class="jumbotron">
                <h2>页面标题实例</h2>
                <p>页面副标题</p>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                        <tr>
                            <th>
                                编号
                            </th>
                            <th>
                                产品
                            </th>
                            <th>
                                交付时间
                            </th>
                            <th>
                                状态
                            </th>
                            <th>
                                编号
                            </th>
                            <th>
                                产品
                            </th>
                            <th>
                                交付时间
                            </th>
                            <th>
                                状态
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                1
                            </td>
                            <td>
                                TB - Monthly
                            </td>
                            <td>
                                01/04/2012
                            </td>
                            <td>
                                Default
                            </td>
                            <td>
                                1
                            </td>
                            <td>
                                TB - Monthly
                            </td>
                            <td>
                                01/04/2012
                            </td>
                            <td>
                                Default
                            </td>
                        </tr>
                        <tr class="success">
                            <td>
                                1
                            </td>
                            <td>
                                TB - Monthly
                            </td>
                            <td>
                                01/04/2012
                            </td>
                            <td>
                                Approved
                            </td>
                            <td>
                                1
                            </td>
                            <td>
                                TB - Monthly
                            </td>
                            <td>
                                01/04/2012
                            </td>
                            <td>
                                Approved
                            </td>
                        </tr>
                        <tr class="error">
                            <td>
                                2
                            </td>
                            <td>
                                TB - Monthly
                            </td>
                            <td>
                                02/04/2012
                            </td>
                            <td>
                                Declined
                            </td>
                            <td>
                                2
                            </td>
                            <td>
                                TB - Monthly
                            </td>
                            <td>
                                02/04/2012
                            </td>
                            <td>
                                Declined
                            </td>
                        </tr>
                        <tr class="warning">
                            <td>
                                3
                            </td>
                            <td>
                                TB - Monthly
                            </td>
                            <td>
                                03/04/2012
                            </td>
                            <td>
                                Pending
                            </td>
                            <td>
                                3
                            </td>
                            <td>
                                TB - Monthly
                            </td>
                            <td>
                                03/04/2012
                            </td>
                            <td>
                                Pending
                            </td>
                        </tr>
                        <tr class="info">
                            <td>
                                4
                            </td>
                            <td>
                                TB - Monthly
                            </td>
                            <td>
                                04/04/2012
                            </td>
                            <td>
                                Call in to confirm
                            </td>
                            <td>
                                3
                            </td>
                            <td>
                                TB - Monthly
                            </td>
                            <td>
                                03/04/2012
                            </td>
                            <td>
                                Pending
                            </td>
                        </tr>
                        <tr class="info">
                            <td>
                                4
                            </td>
                            <td>
                                TB - Monthly
                            </td>
                            <td>
                                04/04/2012
                            </td>
                            <td>
                                Call in to confirm
                            </td>
                            <td>
                                4
                            </td>
                            <td>
                                TB - Monthly
                            </td>
                            <td>
                                04/04/2012
                            </td>
                            <td>
                                Call in to confirm
                            </td>
                        </tr>
                        </tbody>
                    </table>


                </div>
                <div>
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#">首页</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">上一页</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">3</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">下一页</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">尾页</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


</div>
</body>
</html>