{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    {% block title %}
        <title>数据库管理系统Demo首页</title>
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 引入bootstrap的css文件 -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">

    <!-- 引入datatables的css文件 -->
    <link rel="stylesheet" href="{% static 'DataTables/datatables.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'Buttons/css/buttons.dataTables.min.css' %}">
    <link rel="stylesheet" href="{% static 'stylesheets/rowReorder.dataTables.min.css' %}">
    <link rel="stylesheet" href="{% static 'stylesheets/colReorder.dataTables.min.css' %}">
    <link rel="stylesheet" href="{% static 'stylesheets/fixedColumns.dataTables.min.css' %}">
    <link rel="stylesheet" href="{% static 'stylesheets/select.dataTables.min.css' %}">

    <!-- 引入自定义的css样式-->
    <style type="text/css">
        .dropdown-menu a:hover {
            color: #fff;
            background-color: #17a2b8;
            border-color: #fff;
        }
    </style>
</head>

<body>
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg bg-info navbar-dark">
        <a class="navbar-brand" style="padding: 0 10px;">BGI</a>
        <ul class="nav navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown"
                   style="margin: 0 20px">样本管理</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'ClinicalInfo' %}">样本临床信息</a>
                    <a class="dropdown-item" href="{% url 'ExtractInfo' %}">样本DNA提取信息</a>
                    <a class="dropdown-item" href="{% url 'DNAUsageRecordInfo' %}">样本DNA使用记录</a>
                    <a class="dropdown-item" href="{% url 'DNAInventoryInfo' %}">样本DNA库存</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown"
                   style="margin: 0 20px">文库管理</a>
                <div class="nav-link navbar-collapse" id="collapsibleNavbar1">
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'LibraryInfo' %}">样本建库信息</a>
                        <a class="dropdown-item" href="{% url 'CaptureInfo' %}">捕获文库信息</a>
                        <a class="dropdown-item" href="{% url 'PoolingInfo' %}">Pooling映射</a>
                    </div>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown"
                   style="margin: 0 20px">测序管理</a>
                <div class="nav-link navbar-collapse" id="collapsibleNavbar1">
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'SequencingInfo' %}">测序上机信息</a>
                        <a class="dropdown-item" href="{% url 'QCInfo' %}">样本测序质控信息</a>
                    </div>
                </div>
            </li>

        </ul>
    </nav>

    {% block content %}

    {% endblock %}

    <!-- New  button -->
    <div class="text-center" id="addbuttons">
        <button type="button" class="btn btn-primary" id="new">添加</button>
        <button type="button" class="btn btn-primary" id="upload" style="margin: 0 50px">批量添加</button>
    </div>
    <br>

    {% block table %}

    {% endblock %}

    <!-- NEW and EDIT Modal -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="modal_title"></h4>
                </div>
                <div class="modal-body">
                    <form id="modelForm">
                        {% block ModalForm %}

                        {% endblock %}
                        <input type="hidden" id="type" name="type" value="">
                        <button id="submit" type="submit" class="btn btn-success btn-block">OK</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- upload Modal -->
    <div class="modal fade" id="uploadModal">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="uploadModal_title"> 上传文件进行批量添加</h4>
                </div>
                <div class="modal-body">
                    <form id="UploadForm" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="uploadUrl"> 数据表名称</label>
                            <input type="text" class="form-control" id="uploadUrl" name="uploadUrl"
                                   placeholder="请输入数据表名称" required="true">
                        </div>
                        <div class="form-group">
                            <label for="uploadOperator"> 上传者</label>
                            <input type="text" class="form-control" id="uploadOperator" name="uploadOperator"
                                   placeholder="请输入上传者" required="true">
                        </div>
                        <div class="form-group">
                            <label for="uploadFile"> 上传文件</label>
                            <input type="file" class="form-control" id="uploadFile" name="uploadFile"
                                   placeholder="请上传文件" required="true">
                        </div>
                        <button id='uploadSubmit' type="submit" class="btn btn-success btn-block">提交上传</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <p id="uploadError"></p>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Delete Modal -->
    <div class="modal fade" id="confirm">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">是否确认删除?</h4>
                </div>
                <div class="modal-body">
                    <button type="button" data-dismiss="modal" class="btn btn-primary" id="delete">确认删除</button>
                    <button type="button" data-dismiss="modal" class="btn">取消</button>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- bootstrap.js 依赖 jquery.js 和popper.js，因此在这里引入 -->
<script src="{% static 'jquery/jquery.min.js' %}"></script>
<script src="{% static 'popper/popper.min.js' %}"></script>
<!-- 引入bootstrap的js文件 -->
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<!-- 引入datatables的js文件 -->
<script src="{% static 'js/pdfmake.min.js' %}"></script>
<script src="{% static 'js/vfs_fonts.js' %}"></script>
<script src="{% static 'DataTables/datatables.min.js' %}"></script>
<script src="{% static 'Buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'js/jszip.min.js' %}"></script>
<script src="{% static 'Buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'js/dataTables.select.min.js' %}"></script>
<script src="{% static 'js/dataTables.rowReorder.min.js' %}"></script>
<script src="{% static 'js/dataTables.colReorder.min.js' %}"></script>
<script src="{% static 'js/dataTables.fixedColumns.min.js' %}"></script>
<script src=" https://cdn.jsdelivr.net/jquery.cookie/1.4.1/jquery.cookie.min.js "></script>
<script>
    let csrftoken = $.cookie('csrftoken');

    function csrfSafeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $(document).ready(function () {
        $('#uploadSubmit').on('click', function (e) {
            e.preventDefault();
            // 构建FormData对象
            let form_data = new FormData();
            form_data.append('uploadFile', $('#uploadFile')[0].files[0]);
            form_data.append('uploadUrl', $('#uploadUrl').val());
            form_data.append('uploadOperator', $('#uploadOperator').val());
            let urlUpload = {% url "upload" %};

            $.ajax({
                async: false, url: urlUpload, processData: false,
                method: 'POST', data: form_data, dataType: 'json',
                contentType: false,
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                },
                success: function (data) {
                    if (data['error_msg']) {
                        //alert('文件上传和批量添加失败。' + data['error_msg']);
                        $('#uploadError').text('文件上传和批量添加失败。' + data['error_msg']);
                    } else {
                        let update_records = parseInt(data['all_records']) - parseInt(data['add_records']);
                        alert('文件上传和批量添加成功，有效输入记录共有' + data['all_records'] +
                            "行。\n其中往数据库中增加" + data['add_records'] + '行记录，更新了' +
                            update_records + '行记录。');
                        $("#uploadModal").find('form').trigger("reset");
                        $('#uploadModal').modal('hide');
                        location.reload();
                    }
                }
            });
        });
    });
</script>
{% block extra_js %}

{% endblock %}

</body>

</html>