{% extends "button.html" %}
{% block title %}
    <title>捕获文库信息</title>
{% endblock %}


{% block content %}
    <div class="jumbotron">
        <h1>甲基化早筛项目数据库管理系统Demo</h1>
        <h4>捕获文库信息表</h4>
    </div>
{% endblock %}

{% block plot %}
    <div class="row">
        <div id="plot_highcharts" style="width: 550px; height: 400px; margin: 0 auto" class="col-9"></div>
        <div id="plot_button" class="form-group col-3">
            <label for="plot_highcharts_field"> 请选择用于画图的关键字段</label>
            <select class="form-control" id="plot_highcharts_field" name="plot_highcharts_field">
                <option value="probes" selected="selected">杂交探针</option>
                <option value="hybrid_date">杂交日期</option>
                <option value="hybrid_min">杂交时间</option>
                <option value="postpcr_cycles">PostPCR循环数</option>
                <option value="postpcr_con">PostPCR浓度</option>
                <option value="elution_vol">洗脱体积</option>
                <option value="operator">操作人</option>
            </select>
        </div>
    </div><br>
{% endblock %}

{% block table %}
    <!-- datatables -->
    <table id="table_id" class="display">
        <thead>
        <tr>
            <th>索引</th>
            <th>捕获文库名</th>
            <th>杂交日期</th>
            <th>杂交探针</th>
            <th>杂交时间(min)</th>
            <th>PostPCR循环数</th>
            <th>PostPCR浓度(ng/ul)</th>
            <th>洗脱体积(ul)</th>
            <th>操作人</th>
            <th>备注</th>
            <th>上次修改时间</th>
            <th>创建时间</th>
            <th>操作</th>
        </tr>
        </thead>
    </table>
{% endblock %}

{% block ModalForm %}
    <div class="form-group">
        <span><a class="text-danger front-weight-bold">* </a>
            <label for="poolingLB_id"> 捕获文库名</label></span>
        <input type="text" class="form-control" id="poolingLB_id" name="poolingLB_id"
               placeholder="请输入捕获文库名" required="true">
    </div>
    <div class="form-group">
        <label for="hybrid_date"> 杂交日期</label>
        <input type="date" class="form-control" id="hybrid_date" name="hybrid_date"
               placeholder="请输入杂交日期，默认：2000-01-01" value="2000-01-01">
    </div>
    <div class="form-group">
        <label for="probes"> 杂交探针</label>
        <input type="text" class="form-control" id="probes" name="probes"
               placeholder="请输入杂交探针，默认：无" value="无">
    </div>
    <div class="form-group">
        <label for="hybrid_min"> 杂交时间(min)</label>
        <input type="number" class="form-control" id="hybrid_min" name="hybrid_min"
               placeholder="请输入杂交时间(min)，默认：0" value="0">
    </div>
    <div class="form-group">
        <label for="postpcr_cycles"> PostPCR循环数</label>
        <input type="number" class="form-control" id="postpcr_cycles" name="postpcr_cycles"
               placeholder="请输入PostPCR循环数，默认：0" value="0">
    </div>
    <div class="form-group">
        <label for="postpcr_con"> PostPCR浓度(ng/ul)</label>
        <input type="number" step="0.01" class="form-control" id="postpcr_con" name="postpcr_con"
               placeholder="请输入PostPCR浓度(ng/ul)，默认：0" value="0">
    </div>
    <div class="form-group">
        <label for="elution_vol"> 洗脱体积(ul)</label>
        <input type="number" step="0.01" class="form-control" id="elution_vol" name="elution_vol"
               placeholder="请输入洗脱体积(ul)，默认：0" value="0">
    </div>
    <div class="form-group">
        <label for="operator"> 操作人</label>
        <input type="text" class="form-control" id="operator" name="operator"
               placeholder="请输入操作人，默认：无" value="无">
    </div>
    <div class="form-group">
        <label for="others"> 备注</label>
        <input type="text" class="form-control" id="others" name="others"
               placeholder="请输入备注，默认：无" value="无">
    </div>
{% endblock %}

{% block extra_js %}
    <script>
        $(document).ready(function () {
            let url = '/api/CaptureInfo/';
            let dataModelForm;
            let fieldForPie = $('#plot_highcharts_field');

            function MyModelInit(title_name, data) {
                dataModelForm = data;
                if (title_name === '更新') {
                    $('#poolingLB_id').val(data['poolingLB_id']);
                    $('#hybrid_date').val(data['hybrid_date']);
                    $('#probes').val(data['probes']);
                    $('#hybrid_min').val(data['hybrid_min']);
                    $('#postpcr_cycles').val(data['postpcr_cycles']);
                    $('#postpcr_con').val(data['postpcr_con']);
                    $('#elution_vol').val(data['elution_vol']);
                    $('#operator').val(data['operator']);
                    $('#others').val(data['others']);
                    $('#type').val('edit');
                    $('#modal_title').text('更新');
                } else {
                    $('#poolingLB_id').val("");
                    $('#hybrid_date').val("2000-01-01");
                    $('#probes').val("");
                    $('#hybrid_min').val("");
                    $('#postpcr_cycles').val("");
                    $('#postpcr_con').val("");
                    $('#elution_vol').val("");
                    $('#operator').val("");
                    $('#others').val("");
                    $('#type').val('new');
                    $('#modal_title').text('新增');
                }
            }

            let table = $('#table_id').DataTable({
                "language": {
                    "lengthMenu": "选择每页 _MENU_ 展示 ",
                    "zeroRecords": "未找到匹配结果--抱歉",
                    "info": "当前显示第 _PAGE_ 页结果，共 _PAGES_ 页",
                    "infoEmpty": "没有数据",
                    "search": "搜索",
                    "infoFiltered": "(获取 _MAX_ 项结果)",
                    "paginate": {
                        "first": "首页",
                        "previous": "上一页",
                        "next": "下一页",
                        "last": "末页"
                    }
                },
                "scrollY": "5000px",
                "scrollCollapse": true,
                "scrollX": true,
                "pagingType": "full_numbers",
                fixedColumns: true,
                rowReorder: true,
                colReorder: true,
                searching: true,
                select: true,
                dom: 'lB<"clear">frtip',
                buttons: [
                    {
                        extend: 'colvisGroup',
                        text: '显示前5列',
                        show: [0, 1, 2, 3, 4, 5, 12],
                        hide: [6, 7, 8, 9, 10, 11]
                    },
                    {
                        extend: 'colvisGroup',
                        text: '显示全部列',
                        show: ':hidden',
                    },
                    {
                        text: '指定显示列', extend: 'colvis',
                        postfixButtons: ['colvisRestore'],
                        columnText: function (dt, idx, title) {
                            return (idx + 1) + ': ' + title;
                        }
                    },
                    {
                        extend: 'selectAll',
                        text: '全选'
                    }, {
                        extend: 'selectRows',
                        text: '选择多行'
                    }, {
                        extend: 'selectNone',
                        text: '取消当前选择'
                    },
                    {
                        extend: 'copy',
                        text: '复制到剪切板',
                        exportOptions: {
                            columns: range(1, 11)
                        }
                    }, {
                        extend: 'csv',
                        text: '输出到csv',
                        exportOptions: {
                            columns: range(1, 11)
                        }
                    }
                ],
                "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "全部"]],
                "serverSide": true,
                "processing": true,
                "ajax": "/api/CaptureInfo/?format=datatables",
                "deferRender": true,
                "columns": [
                    {
                        data: 'index',
                        width: "1%",
                        // 若想前端显示的不一样，则需要"render"函数
                        'render': function (data, type, full, meta) {
                            return meta.row + 1 + meta.settings._iDisplayStart;
                        }
                    },
                    {"data": "poolingLB_id"},
                    {"data": "hybrid_date"},
                    {"data": "probes"},
                    {"data": "hybrid_min"},
                    {"data": "postpcr_cycles"},
                    {"data": "postpcr_con"},
                    {"data": "elution_vol"},
                    {"data": "operator"},
                    {"data": "others"},
                    {"data": "last_modify_date"},
                    {"data": "created"},
                    {
                        "data": null,
                        "defaultContent": '<button type="button" class="btn btn-info">更新</button>' + '&nbsp;&nbsp' +
                            '<button type="button" class="btn btn-danger">删除</button>'
                    }
                ]
            });
            table.button(0).trigger();

            let id = 0;
            $('#table_id tbody').on('click', 'button', function () {
                let data = table.row($(this).parents('tr')).data();
                let class_name = $(this).attr('class');
                id = data['index'];
                if (class_name === 'btn btn-info') {
                    // EDIT button
                    MyModelInit('更新', data);
                    $("#myModal").modal();
                } else {
                    // DELETE button
                    //alert('delete '+id);
                    //$('#modal_title').text('DELETE');
                    $("#confirm").modal();
                }

            });

            $('#modelForm').on('submit', function (e) {
                e.preventDefault();

                // 递交前检查，一般是检测model的外键是否存在

                let type = $('#type').val();
                let method = '';
                let url_ajax = url;
                if (type === 'new') {
                    // new
                    method = 'POST';
                    // POST前检查，一般是检测model的关键字段值是否存在
                    let data1 = $.ajax({
                        url: url, dataType: 'json', contentType: "application/json",
                        type: "get", async: false, data: {poolingLB_id: $('#poolingLB_id').val()}
                    }).responseJSON[0];
                    if (data1 !== undefined) {
                        $('#myModalError').text('错误！！！捕获文库名已存在，无法添加。如需更新该条目，请在对应行进行更新操作。');
                        return
                    }
                } else {
                    // edit
                    url_ajax = url + id + '/';
                    method = 'PUT';
                }

                $.ajax({
                    url: url_ajax,
                    method: method,
                    data: $(this).serialize(),
                    headers: {'X-HTTP-Method-Override': 'PATCH'},
                    success: function () {
                        let v_tmp = $('#poolingLB_id').val();
                        if (type === 'new') {
                            databaseRecordAjaxPut("CaptureInfo", "单项添加", "样本编号：" + v_tmp);
                            $('#myModalError').text('添加成功！！！捕获文库名：' + v_tmp);
                        } else {
                            databaseRecordAjaxPut("CaptureInfo", "单项更新", "样本编号：" + v_tmp);
                            $('#myModalError').text('更新成功！！！捕获文库名：' + v_tmp);
                        }

                        setTimeout(
                            function () {
                                window.location.reload(true);
                            }, 3000
                        );
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        $('#myModalError').text('出现错误！！！请联系管理员');
                        console.log(jqXHR + ';' + textStatus + ';' + errorThrown)
                    }
                });
            });


            $('#confirm').on('click', '#delete', function (e) {
                $.ajax({
                    url: url + id + '/',
                    method: 'DELETE',
                    success: function () {
                        databaseRecordAjaxPut("CaptureInfo", "单项删除", "index：" + id);
                        window.location.reload(true);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log(jqXHR + ';' + textStatus + ';' + errorThrown)
                    }
                });
            });


            $('#new').on('click', function (e) {
                MyModelInit('新增', {});
                $("#myModal").modal();
            });

            $('#upload').on('click', function (e) {
                $('#uploadOperator').val("");
                $('#uploadFile').val("");
                $('#uploadError').val("");
                $('#uploadUrl').val('CaptureInfo');
                $("#uploadModal").modal();
            });

            $('#bulkDel').on('click', function (e) {
                $('#bulkDelUrl').val('CaptureInfo');
                $("#bulkDelModal").modal();
            });

            $('.downloadExcel').on('click', function (e) {
                e.preventDefault();
                window.location.href = '/download_excel/CaptureInfo/'
            });

            $('#myModalReset').on('click', function (e) {
                e.preventDefault();
                if ($('#modal_title').text() === '更新') {
                    MyModelInit('更新', dataModelForm);
                } else {
                    MyModelInit('新增', {});
                }
            });

            pie_plot('CaptureInfo', fieldForPie.val(), fieldForPie.find("option:selected").text());

            fieldForPie.change(function () {
                pie_plot('CaptureInfo', fieldForPie.val(), fieldForPie.find("option:selected").text());
            });

            $("#modelForm input[type='text']").focus(function () {
                let key2 = $(this).attr('id');
                let values = $.ajax({
                    url: "{% url 'unique' %}", data: {model: "CaptureInfo", filed: key2},
                    dataType: 'json', contentType: "application/json",
                    method: "GET", async: false
                }).responseJSON.values;
                console.info("values:", values, "; key2:", key2);
                input_autocomplete(values, '#' + key2);
            });
        })

    </script>
{% endblock %}