{% extends "base.html" %}
{% block title %}
    <title>样本临床信息</title>
{% endblock %}


{% block content %}
    <div class="jumbotron">
        <h1>甲基化项目数据库管理系统Demo</h1>
        <p>样本临床信息表</p>
    </div>
{% endblock %}


{% block table %}
    <!-- datatables -->
    <table id="table_id" class="display">
        <thead>
        <tr>
            <th>样本编号</th>
            <th>姓名</th>
            <th>性别</th>
            <th>年龄</th>
            <th>住院号</th>
            <th>诊断</th>
            <th>采样日期</th>
            <th>离心日期</th>
            <th>医院编号</th>
            <th>科室</th>
            <th>血浆管数</th>
            <th>癌旁组织样本数量</th>
            <th>癌组织样本数量</th>
            <th>白细胞样本数量</th>
            <th>粪便样本数量</th>
            <th>寄送日期</th>
            <th>备注</th>
            <th>上次修改时间</th>
            <th>创建时间</th>
            <th>索引</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>19P1234567</td>
            <td>Patient1</td>
            <td>男</td>
            <td>64</td>
            <td>1113932</td>
            <td>乙状结肠癌;分期:II;是否行放疗:否;病理号:201831768;病理类型:中分化腺癌;T:3;N:0;M:0;肿块大小:NA;免疫组化结果:MSH6+ Ki-67(+,70%) CK20- MLH1-
                PMS2- CK7- MSH2+;肠镜结果:距肛门30cm,肠镜不能通过，菜花样肿物
            </td>
            <td>2019-08-27</td>
            <td>2019-08-27</td>
            <td>中山大学附属第六医院</td>
            <td>crc</td>
            <td>4</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>0</td>
            <td>2019-09-24</td>
            <td></td>
            <td>2019-11-22</td>
            <td>2019-11-22</td>
            <td>1</td>
            <td>
                <button type="button" class="btn btn-info">Edit</button>
                <br>
                <button type="button" class="btn btn-danger" style="margin: 20px 0">Delete</button>
            </td>
        </tr>
        <tr>
            <td>19P1234568</td>
            <td>Patient2</td>
            <td>女</td>
            <td>55</td>
            <td>1112628</td>
            <td></td>
            <td>2019-05-27</td>
            <td>2019-05-27</td>
            <td>上海复旦中山医院</td>
            <td>胸外科</td>
            <td>2</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>1</td>
            <td>2019-06-24</td>
            <td></td>
            <td>2019-11-22</td>
            <td>2019-11-22</td>
            <td>2</td>
            <td>
                <button type="button" class="btn btn-info">Edit</button>
                <button type="button" class="btn btn-danger" style="margin: 20px 0">Delete</button>
            </td>
        </tr>
        </tbody>
        <tfoot>
        </tfoot>
    </table>
{% endblock %}


{% block extra_js %}
    <script>
        $(document).ready(function () {
            $('#table_id').DataTable(
                {
                    "scrollY": "5000px",
                    "scrollCollapse": true,
                    "scrollX": true,
                    "pagingType": "full_numbers",
                    fixedColumns: true,
                    rowReorder: true,
                    colReorder: true,
                    searching: true,
                    select: true,

                    dom: 'lBfrtip',
                    buttons: {
                        buttons: ['selectAll', 'selectRows', 'selectColumns', 'selectCells', 'selectNone',
                            'copy', 'csv']
                    },
                    "language": {
                        "lengthMenu": "选择每页 _MENU_ 展示 ",
                        "zeroRecords": "未找到匹配结果--抱歉",
                        "info": "当前显示第 _PAGE_ 页结果，共 _PAGES_ 页",
                        "infoEmpty": "没有数据",
                        "infoFiltered": "(获取 _MAX_ 项结果)",
                        "paginate": {
                            "first": "首页",
                            "previous": "上一页",
                            "next": "下一页",
                            "last": "末页"
                        }
                    }

                })
        });
    </script>
{% endblock %}