{% extends "base.html" %}
{% block title %}
    <title>样本临床信息</title>
{% endblock %}


{% block content %}
    <div class="jumbotron">
        <h1>甲基化早筛项目数据库管理系统Demo</h1>
        <h4>样本临床信息表</h4>
    </div>
{% endblock %}


{% block table %}
    <!-- datatables -->
    <table id="table_id" class="display">
        <thead>
        <tr>
            <th>索引</th>
            <th>样本编号</th>
            <th>姓名</th>
            <th>性别</th>
            <th>年龄</th>
            <th>住院号</th>
            <th>癌种</th>
            <th>分期</th>
            <th>诊断</th>
            <th>诊断备注</th>
            <th>采样日期</th>
            <th>离心日期</th>
            <th>医院编号</th>
            <th>科室</th>
            <th>血浆管数</th>
            <th>癌旁组织样本数量</th>
            <th>癌组织样本数量</th>
            <th>白细胞样本数量</th>
            <th>粪便样本数量</th>
            <th>寄送日期</th>
            <th>备注</th>
            <th>上次修改时间</th>
            <th>创建时间</th>
            <th>操作</th>
        </tr>
        </thead>
    </table>
{% endblock %}

{% block ModalForm %}
    <div class="form-group">
        <label for="sample_id"> 样本编号</label>
        <input type="text" class="form-control" id="sample_id" name="sample_id"
               placeholder="请输入样本编号" required="true">
    </div>
    <div class="form-group">
        <label for="name"> 姓名</label>
        <input type="text" class="form-control" id="name" name="name"
               placeholder="请输入姓名" required="true">
    </div>
    <div class="form-group">
        <label for="gender"> 性别</label>
        <select class="form-control" id="gender" name="gender" required="true">
            <option value="1">男</option>
            <option value="0">女</option>
        </select>
    </div>
    <div class="form-group">
        <label for="age"> 年龄</label>
        <input type="text" class="form-control" id="age" name="age"
               placeholder="请输入年龄" required="true">
    </div>
    <div class="form-group">
        <label for="patientId"> 住院号</label>
        <input type="text" class="form-control" id="patientId" name="patientId"
               placeholder="请输入住院号" required="true">
    </div>
    <div class="form-group">
        <label for="category"> 癌种</label>
        <input type="text" class="form-control" id="category" name="category"
               placeholder="请输入诊断信息" value="无">
    </div>
    <div class="form-group">
        <label for="stage"> 分期</label>
        <input type="text" class="form-control" id="stage" name="stage"
               placeholder="请输入诊断信息" value="无">
    </div>
    <div class="form-group">
        <label for="diagnose"> 诊断</label>
        <input type="text" class="form-control" id="diagnose" name="diagnose"
               placeholder="请输入诊断信息" value="无">
    </div>
    <div class="form-group">
        <label for="diagnose_others"> 诊断备注</label>
        <input type="text" class="form-control" id="diagnose_others" name="diagnose_others"
               placeholder="请输入诊断信息" value="无">
    </div>
    <div class="form-group">
        <label for="sampling_date"> 采样日期</label>
        <input type="date" class="form-control" id="sampling_date" name="sampling_date"
               placeholder="请输入采样日期" required="true">
    </div>
    <div class="form-group">
        <label for="centrifugation_date"> 离心日期</label>
        <input type="date" class="form-control" id="centrifugation_date" name="centrifugation_date"
               placeholder="请输入离心日期" required="true">
    </div>
    <div class="form-group">
        <label for="hospital"> 医院编号</label>
        <input type="text" class="form-control" id="hospital" name="hospital"
               placeholder="请输入医院编号" required="true">
    </div>
    <div class="form-group">
        <label for="department"> 科室</label>
        <input type="text" class="form-control" id="department" name="department"
               placeholder="请输入科室" required="true">
    </div>
    <div class="form-group">
        <label for="plasma_num"> 血浆管数</label>
        <input type="text" class="form-control" id="plasma_num" name="plasma_num"
               placeholder="默认0" value="0">
    </div>
    <div class="form-group">
        <label for="adjacent_mucosa_num"> 癌旁组织数量</label>
        <input type="text" class="form-control" id="adjacent_mucosa_num" name="adjacent_mucosa_num"
               placeholder="默认0" value="0">
    </div>
    <div class="form-group">
        <label for="cancer_tissue_num"> 癌组织数量</label>
        <input type="text" class="form-control" id="cancer_tissue_num" name="cancer_tissue_num"
               placeholder="默认0" value="0">
    </div>
    <div class="form-group">
        <label for="WBC_num"> 白细胞数量</label>
        <input type="text" class="form-control" id="WBC_num" name="WBC_num"
               placeholder="默认0" value="0">
    </div>
    <div class="form-group">
        <label for="stool_num"> 粪便数量</label>
        <input type="text" class="form-control" id="stool_num" name="stool_num"
               placeholder="默认0" value="0">
    </div>
    <div class="form-group">
        <label for="send_date"> 寄送日期</label>
        <input type="date" class="form-control" id="send_date" name="send_date"
               placeholder="请输入寄送日期" required="true">
    </div>
    <div class="form-group">
        <label for="others"> 备注</label>
        <input type="text" class="form-control" id="others" name="others"
               placeholder="请输入备注" value="无">
    </div>
{% endblock %}

{% block extra_js %}
    <script>
        $(document).ready(function () {
            let intToMan = function (d) {
                if (parseInt(d) > 0) {
                    return '男'
                } else {
                    return '女'
                }
            };

            let table = $('#table_id').DataTable({
                "language": {
                    "lengthMenu": "选择每页 _MENU_ 展示 ",
                    "zeroRecords": "未找到匹配结果--抱歉",
                    "info": "当前显示第 _PAGE_ 页结果，共 _PAGES_ 页",
                    "infoEmpty": "没有数据",
                    "infoFiltered": "(获取 _MAX_ 项结果)",
                    "paginate": {
                        "first": "首页",
                        "previous": "上一页",
                        "next": "下一页",
                        "last": "末页"
                    }
                },
                "scrollY": "5000px",
                "scrollCollapse": true,
                "scrollX": true,
                "pagingType": "full_numbers",
                fixedColumns: true,
                rowReorder: true,
                colReorder: true,
                searching: true,
                select: true,
                dom: 'lB<"clear">frtip',
                buttons: ['selectAll', 'selectRows', 'selectColumns', 'selectCells', 'selectNone',
                    'copy', 'csv'],
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                "serverSide": true,
                "processing": true,
                "ajax": "/api/ClinicalInfo/?format=datatables",
                "columns": [
                    {"data": "index"},
                    {"data": "sample_id"},
                    {"data": "name"},
                    {
                        "data": "gender",
                        "render": function (data, type, row, meta) {
                            return intToMan(data)
                        }
                    },
                    {"data": "age"},
                    {"data": "patientId"},
                    {"data": "category"},
                    {"data": "stage"},
                    {"data": "diagnose"},
                    {"data": "diagnose_others"},
                    {"data": "sampling_date"},
                    {"data": "centrifugation_date"},
                    {"data": "hospital"},
                    {"data": "department"},
                    {"data": "plasma_num"},
                    {"data": "adjacent_mucosa_num"},
                    {"data": "cancer_tissue_num"},
                    {"data": "WBC_num"},
                    {"data": "stool_num"},
                    {"data": "send_date"},
                    {"data": "others"},
                    {"data": "last_modify_date"},
                    {"data": "created"},
                    {
                        "data": null,
                        "defaultContent": '<button type="button" class="btn btn-info">Edit</button>' + '&nbsp;&nbsp' +
                            '<button type="button" class="btn btn-danger">Delete</button>'
                    }
                ]
            });

            let id = 0;

            $('#table_id tbody').on('click', 'button', function () {
                let data = table.row($(this).parents('tr')).data();
                let class_name = $(this).attr('class');
                id = data['index'];
                //alert(id);
                if (class_name == 'btn btn-info') {
                    // EDIT button
                    $('#sample_id').val(data['sample_id']);
                    $('#name').val(data['name']);
                    $('#gender').val(data['gender']);
                    $('#age').val(data['age']);
                    $('#patientId').val(data['patientId']);
                    $('#category').val(data['category']);
                    $('#stage').val(data['stage']);
                    $('#diagnose').val(data['diagnose']);
                    $('#diagnose_others').val(data['diagnose_others']);
                    $('#sampling_date').val(data['sampling_date']);
                    $('#centrifugation_date').val(data['centrifugation_date']);
                    $('#hospital').val(data['hospital']);
                    $('#department').val(data['department']);
                    $('#plasma_num').val(data['plasma_num']);
                    $('#adjacent_mucosa_num').val(data['adjacent_mucosa_num']);
                    $('#cancer_tissue_num').val(data['cancer_tissue_num']);
                    $('#WBC_num').val(data['WBC_num']);
                    $('#stool_num').val(data['stool_num']);
                    $('#send_date').val(data['send_date']);
                    $('#others').val(data['others']);
                    $('#type').val('edit');
                    $('#modal_title').text('EDIT');
                    $("#myModal").modal();
                } else {
                    // DELETE button
                    //alert('delete '+id);
                    //$('#modal_title').text('DELETE');
                    $("#confirm").modal();
                }

            });

            $('#modelForm').on('submit', function (e) {
                e.preventDefault();
                let type = $('#type').val();
                let method = '';
                let url = '/api/ClinicalInfo/';
                if (type == 'new') {
                    // new
                    method = 'POST';
                } else {
                    // edit
                    url = url + id + '/';
                    method = 'PUT';
                }

                $.ajax({
                    url: url,
                    method: method,
                    data: $(this).serialize(),
                    headers: {'X-HTTP-Method-Override': 'PATCH'},
                    success: function () {
                        location.reload();
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log(jqXHR + ';' + textStatus + ';' + errorThrown)
                    }
                });
            });

            $('#confirm').on('click', '#delete', function (e) {
                $.ajax({
                    url: '/api/ClinicalInfo/' + id + '/',
                    method: 'DELETE',
                    success: function () {
                        location.reload()
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log(jqXHR)
                    }
                });
            });

            $('#new').on('click', function (e) {
                $('#sample_id').val("");
                $('#name').val("");
                $('#gender').val("");
                $('#age').val("");
                $('#patientId').val("");
                $('#category').val("");
                $('#stage').val("");
                $('#diagnose').val("");
                $('#diagnose_others').val("");
                $('#sampling_date').val("");
                $('#centrifugation_date').val("");
                $('#hospital').val("");
                $('#department').val("");
                $('#plasma_num').val("");
                $('#adjacent_mucosa_num').val("");
                $('#cancer_tissue_num').val("");
                $('#WBC_num').val("");
                $('#stool_num').val("");
                $('#send_date').val("");
                $('#others').val("");
                $('#type').val('new');
                $('#modal_title').text('NEW');
                $("#myModal").modal();
            });

            $('#upload').on('click', function (e) {
                $('#uploadOperator').val("");
                $('#uploadFile').val("");
                $('#uploadError').val("");
                $('#uploadUrl').val('ClinicalInfo');
                $("#uploadModal").modal();
            });
        })

    </script>
{% endblock %}