{% extends "button.html" %}
{% block title %}
    <title>测序登记信息</title>
{% endblock %}


{% block content %}
    <div class="jumbotron">
        <h1>甲基化早筛项目数据库管理系统Demo</h1>
        <h4>测序上机信息表</h4>
    </div>
{% endblock %}


{% block table %}
    <!-- datatables -->
    <table id="table_id" class="display">
        <thead>
        <tr>
            <th>索引</th>
            <th>上机文库号</th>
            <th>捕获文库名</th>
            <th>送测日期</th>
            <th>上机时间</th>
            <th>下机时间</th>
            <th>机器号</th>
            <th>芯片号</th>
            <th>备注</th>
            <th>上次修改时间</th>
            <th>创建时间</th>
            <th>操作</th>
        </tr>
        </thead>
    </table>
{% endblock %}

{% block ModalForm %}

    <div class="form-group">
        <label for="poolingLB_id"> 捕获文库名</label>
        <textarea class="form-control" rows="3" id="poolingLB_id" name="poolingLB_id"></textarea>
    </div>
    <div id="postForm">
        <div class="form-group">
            <label for="sequencing_id"> 上机文库号</label>
            <input type="text" class="form-control" id="sequencing_id" name="sequencing_id"
                   placeholder="请输入上机文库号" required="true">
        </div>
        <div class="form-group">
            <label for="send_date"> 送测日期</label>
            <input type="date" class="form-control" id="send_date" name="send_date"
                   placeholder="请输入送测日期" value="2000-01-01">
        </div>
        <div class="form-group">
            <label for="start_time"> 上机时间</label>
            <input type="date" class="form-control" id="start_time" name="start_time"
                   placeholder="请输入上机时间" value="2000-01-01">
        </div>
        <div class="form-group">
            <label for="end_time"> 下机时间</label>
            <input type="date" class="form-control" id="end_time" name="end_time"
                   placeholder="请输入下机时间" value="2000-01-01">
        </div>
        <div class="form-group">
            <label for="machine_id"> 机器号</label>
            <input type="text" class="form-control" id="machine_id" name="machine_id"
                   placeholder="请输入机器号" value="无">
        </div>
        <div class="form-group">
            <label for="chip_id"> 芯片号</label>
            <input type="text" class="form-control" id="chip_id" name="chip_id"
                   placeholder="请输入芯片号" value="无">
        </div>
        <div class="form-group">
            <label for="others"> 备注</label>
            <input type="text" class="form-control" id="others" name="others"
                   placeholder="请输入备注" value="无">
        </div>
    </div>

{% endblock %}

{% block extra_js %}
    <script>
        $(document).ready(function () {
            let capture_data = $.ajax({
                url: '/api/CaptureInfo/', dataType: 'json', contentType: "application/json",
                type: "get", async: false
            }).responseJSON;

            let get_poolingLB_id = function (datalist) {
                let arry = [];
                for (let idx in datalist) {
                    for (let idx2 in capture_data) {
                        if (datalist[idx] == capture_data[idx2].index) {
                            arry.push(capture_data[idx2].poolingLB_id);
                            break;
                        }
                    }
                }
                return arry.join("\n");
            };

            let table = $('#table_id').DataTable({
                "language": {
                    "lengthMenu": "选择每页 _MENU_ 展示 ",
                    "zeroRecords": "未找到匹配结果--抱歉",
                    "info": "当前显示第 _PAGE_ 页结果，共 _PAGES_ 页",
                    "infoEmpty": "没有数据",
                    "search": "搜索",
                    "infoFiltered": "(获取 _MAX_ 项结果)",
                    "paginate": {
                        "first": "首页",
                        "previous": "上一页",
                        "next": "下一页",
                        "last": "末页"
                    }
                },
                "scrollY": "5000px",
                "scrollCollapse": true,
                "scrollX": true,
                "pagingType": "full_numbers",
                fixedColumns: true,
                rowReorder: true,
                colReorder: true,
                searching: true,
                select: true,
                dom: 'lB<"clear">frtip',
                buttons: [
                    {
                        extend: 'colvisGroup',
                        text: '显示前5列',
                        show: [0, 1, 2, 3, 4, 5, 11],
                        hide: [6, 7, 8, 9, 10]
                    },
                    {
                        extend: 'colvisGroup',
                        text: '显示全部列',
                        show: ':hidden',
                    },
                    {
                        text: '指定显示列', extend: 'colvis',
                        postfixButtons: ['colvisRestore'],
                        columnText: function (dt, idx, title) {
                            return (idx + 1) + ': ' + title;
                        }
                    },
                    {
                        extend: 'selectAll',
                        text: '全选'
                    }, {
                        extend: 'selectRows',
                        text: '选择多行'
                    }, {
                        extend: 'selectColumns',
                        text: '选择多列'
                    }, {
                        extend: 'selectCells',
                        text: '选择多个单元格'
                    }, {
                        extend: 'selectNone',
                        text: '取消当前选择'
                    },
                    {
                        extend: 'copy',
                        text: '复制到剪切板'
                    }, {
                        extend: 'csv',
                        text: '输出到csv'
                    }
                ],
                "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "全部"]],
                //"serverSide": true,
                "processing": true,
                "ajax": "/api/SequencingInfo/?format=datatables",
                "columns": [
                    {
                        data: 'index',
                        width: "1%",
                        // 若想前端显示的不一样，则需要"render"函数
                        'render': function (data, type, full, meta) {
                            return meta.row + 1 + meta.settings._iDisplayStart;
                        }
                    },
                    {"data": "sequencing_id"},
                    {
                        "data": "poolingLB_id",
                        render: function (data, type, row, meta) {
                            return get_poolingLB_id(data)
                        }
                    },
                    {"data": "send_date"},
                    {"data": "start_time"},
                    {"data": "end_time"},
                    {"data": "machine_id"},
                    {"data": "chip_id"},
                    {"data": "others"},
                    {"data": "last_modify_date"},
                    {"data": "created"},
                    {
                        "data": null,
                        "defaultContent": '<button type="button" class="btn btn-info">更新</button>' + '&nbsp;&nbsp' +
                            '<button type="button" class="btn btn-danger">删除</button>'
                    }
                ]
            });
            table.button(0).trigger();

            let id = 0;
            $('#table_id tbody').on('click', 'button', function () {
                let data = table.row($(this).parents('tr')).data();
                let class_name = $(this).attr('class');
                id = data['index'];
                if (class_name == 'btn btn-info') {
                    // EDIT button
                    $('#sequencing_id').val(data['sequencing_id']);
                    $('#poolingLB_id').val(get_poolingLB_id(data['poolingLB_id']));
                    $('#send_date').val(data['send_date']);
                    //$('#start_time').val(data['start_time'].replace(/\//g, '-').replace(/\s+/, 'T'));
                    $('#start_time').val(data['start_time']);
                    $('#end_time').val(data['end_time']);
                    $('#machine_id').val(data['machine_id']);
                    $('#chip_id').val(data['chip_id']);
                    $('#others').val(data['others']);
                    $('#type').val('edit');
                    $('#modal_title').text('更新');
                    $("#myModal").modal();
                } else {
                    // DELETE button
                    //alert('delete '+id);
                    //$('#modal_title').text('DELETE');
                    $("#confirm").modal();
                }

            });

            $('#modelForm').on('submit', function (e) {
                e.preventDefault();
                let type = $('#type').val();
                let method = '';
                let url = '/api/SequencingInfo/';
                if (type == 'new') {
                    // new
                    method = 'POST';
                } else {
                    // edit
                    url = url + id + '/';
                    method = 'PUT';
                }
                let poolingLB_ids = [];
                let text = $('#poolingLB_id').val();
                let arry = text.split("\n");
                for (let idx in arry) {
                    for (let idx2 in capture_data) {
                        if (capture_data[idx2].poolingLB_id == arry[idx]) {
                            poolingLB_ids.push(capture_data[idx2].index);
                            break;
                        }
                    }
                }

                $.ajax({
                    url: url,
                    method: method,
                    data: $(this).serialize() + '&' + $.param({
                        poolingLB_id: poolingLB_ids
                    }),
                    headers: {'X-HTTP-Method-Override': 'PATCH'},
                    success: function () {
                        location.reload();
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log(jqXHR + ';' + textStatus + ';' + errorThrown)
                    }
                });
            });


            $('#confirm').on('click', '#delete', function (e) {
                $.ajax({
                    url: '/api/SequencingInfo/' + id + '/',
                    method: 'DELETE',
                    success: function () {
                        location.reload()
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log(jqXHR + ';' + textStatus + ';' + errorThrown)
                    }
                });
            });


            $('#new').on('click', function (e) {
                $('#sequencing_id').val("");
                $('#poolingLB_id').val("");
                $('#send_date').val("");
                $('#start_time').val("");
                $('#end_time').val("");
                $('#machine_id').val("");
                $('#chip_id').val("");
                $('#others').val("");
                $('#type').val('new');
                $('#modal_title').text('新增');
                $("#myModal").modal();
            });

            // pooling号下拉选框
            //$('#poolingLB_id').focus(function () {
            //    let poolingLB_ids = $.ajax({
            //        url: '/api/CaptureInfo/', dataType: 'json', contentType: "application/json",
            //        type: "get", async: false
            //    }).responseJSON.results;
            //    $.each(poolingLB_ids, function (index, value) {
            //       $('#poolingLB_id').append('<option value="' + value.poolingLB_id + '">' + value.poolingLB_id + '</option>')
            //    });
            //});

            $('#upload').on('click', function (e) {
                $('#uploadOperator').val("");
                $('#uploadFile').val("");
                $('#uploadError').val("");
                $('#uploadUrl').val('SequencingInfo');
                $("#uploadModal").modal();
            });

            $('#upload').on('click', function (e) {
                $('#uploadOperator').val("");
                $('#uploadFile').val("");
                $('#uploadError').val("");
                $('#uploadUrl').val('SequencingInfo');
                $("#uploadModal").modal();
            });

            $('#bulkDel').on('click', function (e) {
                $('#bulkDelUrl').val('SequencingInfo');
                $("#bulkDelModal").modal();
            });
        })

    </script>
{% endblock %}